package hello

import "gotth-starter/package/views/layouts"

templ Index() {
@layouts.Base() {
<div class="flex flex-col items-center">
	<div class="text-4xl text-white font-bold">Hello from GOTTH Starter Template</div>
</div>
}
}
