package views

import "gotth-starter/package/views/layouts"

templ Home() {
@layouts.Base() {
<div class="flex flex-col items-center">
  <div class="text-white text-6xl">
    <p>Starter for using Go with HTMX, Templ and Tailwind</p>
  </div>
</div>
}
}
